@import "../variables.scss";
@import "../mixins.scss";

.effects-section {
  &-item {
    min-height: 240px;
    color: $dark-blue;
    padding: 55px 77px 37px 105px;

    @include _1024 {
      padding: 20px 35px;
      min-height: auto;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .title {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 28px;
    }

    .text {
      opacity: 0.5;
      font-size: 16px;
      line-height: 25px;

      @include _1024 {
        font-size: 20px;
      }
    }
  }
}
