@import "../variables.scss";
@import "../mixins.scss";

.why-section {
  background: $light-blue;
  min-height: 600px;
  color: #fff;

  &-inner {
    background-image: url("../../images/christopher-campbell.jpg");
    background-repeat: no-repeat;
    background-position: top right;

    @include _375 {
      background-image: none;
    }
  }

  &-content-wrapper {
    padding-bottom: 95px;
    padding-top: 20px;
  }

  &-content {
    max-width: 555px;
  }
  &-title {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 27px;

    @include _1024 {
      text-shadow: 1px 1px 2px black;
    }
  }

  &-text {
    font-size: 18px;
    line-height: 35px;

    @include _1024 {
      text-shadow: 1px 1px 2px black;
    }

    .upper {
      font-weight: bold;
      font-size: 20px;
      line-height: 35px;
    }
  }
}
