@import "./variables.scss";
@import "./mixins.scss";

.container {
  margin: 0 auto;
  max-width: 1470px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
}

.site {
  &-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &-inner {
      padding: 27px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-nav {
      .link {
        color: $dark-blue;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        font-weight: 400;
        padding: 10px 10px;
        margin: 0 10px;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s;
        text-transform: capitalize;

        &:hover {
          border-bottom: 1px solid $dark-blue;
        }
      }

      @include _768 {
        display: none;
      }

      //   просто скрыл так навигацию, потому что в дизайне нет бургер меню,
      //   да и я все равно его не успеваю сделать до стади ТЗ :(
      //   Но как делать - Знаю :)
    }

    &-contact {
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
      border-radius: 50px;
      color: #fff;
      background-color: $light-blue;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }

  &-section {
    display: flex;
    flex-flow: column;

    &-inner {
      flex: 1;
      display: flex;
      flex-flow: column;

      &-content {
        max-width: 1080px;
        width: 100%;
        flex: 1;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        padding: 0 15px;
      }
    }
  }

  &-footer {
    &-copy {
      background-color: $light-blue;
      color: #fff;
      font-size: 14px;
      line-height: 16px;

      &-inner {
        min-height: 80px;
        display: flex;
        align-items: center;
        padding: 0 15px;
      }
    }

    &-inner {
      display: flex;
      padding: 100px 15px;
      justify-content: center;
      min-height: 380px;

      @include _768 {
        flex-flow: column;
      }
    }

    &-item {
      margin: 0 50px;
      max-width: 240px;

      @include _768 {
        margin: 0 10px 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .title {
        color: $dark-blue;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        margin-bottom: 26px;
      }

      .text {
        color: rgba(34, 53, 111, 0.5);
        font-size: 14px;
        line-height: 23px;
        font-style: normal;
        max-width: 235px;

        .address {
          margin-bottom: 20px;
          max-width: 150px;
        }

        a {
          display: inline-block;
          width: 100%;
          color: rgba(34, 53, 111, 0.5);
        }

        .email {
          color: #0052c1;
        }

        .block {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}
